In [4]:
import pandas as pd
import numpy as np
import sys

In [8]:
# multi-intent SNIPS dataset
training_snips = pd.read_csv("./MixSNIPS_clean/train.txt", sep = " " 
                             ,warn_bad_lines=True, error_bad_lines=False, header = None)

In [9]:
training_snips

                         0              1
0                     play              O
1                    isham       B-artist
2                    jones       I-artist
3                      and              O
4                    swine  B-object_name
...                    ...            ...
822203                   a  B-object_name
822204                 hat  I-object_name
822205                  in  I-object_name
822206                time  I-object_name
822207  SearchCreativeWork            NaN

[822208 rows x 2 columns]

In [10]:
training_snips.columns = ["utterance", "slot-label"]

In [11]:
training_snips.head(60)

                        utterance       slot-label
0                            play                O
1                           isham         B-artist
2                           jones         I-artist
3                             and                O
4                           swine    B-object_name
5                             not    I-object_name
6                        deserves                O
7                            four   B-rating_value
8                          points    B-rating_unit
9              PlayMusic#RateBook              NaN
10                           play                O
11                            the                O
12                           last           B-sort
13                           song     B-music_item
14                             by                O
15                         goldie         B-artist
16                            and                O
17                           then                O
18                            can                O
19                            you                O
20                            get                O
21                             me                O
22                            the                O
23                         rakuen    B-object_name
24                       tsuihou:    I-object_name
25                       expelled    I-object_name
26                           from    I-object_name
27                       paradise    I-object_name
28                     television    B-object_type
29                           show    I-object_type
30   PlayMusic#SearchCreativeWork              NaN
31                           find                O
32                              a                O
33                     soundtrack    B-object_type
34                         called                O
35                            the    B-object_name
36                        spanish    I-object_name
37                           jade    I-object_name
38             SearchCreativeWork              NaN
39                           rate                O
40                   rajinikanth:    B-object_name
41                            the    I-object_name
42                     definitive    I-object_name
43                      biography    I-object_name
44                            one   B-rating_value
45                            out                O
46                             of                O
47                              6    B-best_rating
48                          stars    B-rating_unit
49                            and                O
50                           then                O
51                           what                O
52                              s                O
53                            the                O
54                          movie    B-object_type
55                       schedule    I-object_type
56                            for                O
57                            b&b  B-location_name
58                       theatres  I-location_name
59  RateBook#SearchScreeningEvent              NaN

The dataset showing above is a sample dataset for the multi-intent detection dataset. The left column is the utterance in each sentence, and the right column is the slot label of each utterance. As you can see, several examples are shown in the format of ...#...#..., this is the multi-intent label of the corresponding sequence. For example "RateBook#SearchScreeningEvent" means there are 2 intents, RateBook and SearchScreenEvent, in this sentence. However, as you can see, not all sentences would have multi-intent labels. Some of the sentence may contain one intent, and other may contain multiple intents.

You might be curious why we have the slot labels. Here is the reason: Traditionally, intent detection and slot filling have been deemed to proceed independently.  However, more recently, joint models for intent classification and slot filling have achieve state-of-art performance, and have proved that there exists a strong relationship between these two tasks, intent classification and slot filling, which is called joint intent detection and slot-filling models.  Currently,there are three milestones under this research task so far:  1.  Intent detection to identify the speakerâ€™s intention, 2.  slot filling to label each word token in the speech/text, 3.  joint intent classification and slot filling tasks.

In our case, I recommend to do the the joint intent classification and slot filling tasks at the same time in order to ensure the maximum performance on our task. However, we can first explore how the multi-intent dataset is labelled.

In [12]:
def show_multi_intent(df):
    intent_out = []
    for idx in range(len(df["utterance"])):
        if type(df["slot-label"][idx]) == float:
            intent_out.append(df["utterance"][idx])
    return intent_out

In [13]:
# print first 50 intents
intents = show_multi_intent(training_snips)
print(intents[:50])

['PlayMusic#RateBook', 'PlayMusic#SearchCreativeWork', 'SearchCreativeWork', 'RateBook#SearchScreeningEvent', 'AddToPlaylist#SearchScreeningEvent', 'BookRestaurant#SearchScreeningEvent', 'AddToPlaylist#RateBook#SearchCreativeWork', 'BookRestaurant#GetWeather', 'BookRestaurant', 'SearchScreeningEvent', 'SearchScreeningEvent', 'RateBook', 'BookRestaurant#SearchCreativeWork', 'SearchScreeningEvent', 'AddToPlaylist#PlayMusic', 'BookRestaurant#PlayMusic', 'GetWeather#PlayMusic', 'GetWeather', 'PlayMusic#RateBook', 'RateBook', 'AddToPlaylist#SearchCreativeWork', 'BookRestaurant#GetWeather', 'AddToPlaylist', 'AddToPlaylist#BookRestaurant', 'AddToPlaylist#PlayMusic', 'AddToPlaylist#SearchCreativeWork', 'SearchCreativeWork', 'BookRestaurant', 'AddToPlaylist', 'BookRestaurant', 'AddToPlaylist#GetWeather#SearchScreeningEvent', 'AddToPlaylist#PlayMusic#SearchScreeningEvent', 'AddToPlaylist#GetWeather', 'PlayMusic', 'GetWeather#SearchCreativeWork', 'PlayMusic#SearchCreativeWork', 'SearchCreativeWork', 'PlayMusic', 'AddToPlaylist#PlayMusic#SearchCreativeWork', 'AddToPlaylist', 'AddToPlaylist#SearchCreativeWork', 'SearchCreativeWork', 'AddToPlaylist#SearchScreeningEvent', 'AddToPlaylist', 'PlayMusic', 'GetWeather#SearchScreeningEvent', 'BookRestaurant#PlayMusic', 'BookRestaurant', 'AddToPlaylist#BookRestaurant', 'PlayMusic#SearchCreativeWork']

In [14]:
# analysis on the snips training dataset
print("Total number of intents is {}.".format(len(intents)))
print("unique number of intents is {}.".format(len(set(intents))))

Total number of intents is 39776.
unique number of intents is 63.

Most of the intents can be same, and repetitive. This case should depend on how the dataset is constructed. However, if we want to construct such kind of dataset, we should follow the following way shown in the next 2 sections.

In [15]:
utterance_intent_label_dat = training_snips["utterance"]

In [16]:
utterance_intent_label_dat[:50]

0                             play
1                            isham
2                            jones
3                              and
4                            swine
5                              not
6                         deserves
7                             four
8                           points
9               PlayMusic#RateBook
10                            play
11                             the
12                            last
13                            song
14                              by
15                          goldie
16                             and
17                            then
18                             can
19                             you
20                             get
21                              me
22                             the
23                          rakuen
24                        tsuihou:
25                        expelled
26                            from
27                        paradise
28                      television
29                            show
30    PlayMusic#SearchCreativeWork
31                            find
32                               a
33                      soundtrack
34                          called
35                             the
36                         spanish
37                            jade
38              SearchCreativeWork
39                            rate
40                    rajinikanth:
41                             the
42                      definitive
43                       biography
44                             one
45                             out
46                              of
47                               6
48                           stars
49                             and
Name: utterance, dtype: object